{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% include 'navbar.html' %}




<div class = "">
<table class="table  table-striped"> 
   <tr class="thead-dark">
      
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Description</th>
      <th>Action</th>
   </tr>
     {% for user in users %}
   <tr>
      
      <td>{{user.name}}</td>
      {% if session['role'] == "admin" %}
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      {% else %}
      <td>*******</td>
      <td>*******</td>
      {% endif %}
     
      <td>{{user.description}}</td>
      <td>
         <a href="/delete_user/{{user.username}}" class="btn btn-danger">delete</a>
       
     
      </td>
   </tr>
   {% endfor %}
</table>
</div>
{% endblock %}